@import "../../assets//mixins/MediaQueries.scss";
@import "../../assets//mixins/Layouts.scss";

#home {
  position: relative;
  background: url("../../assets/imgs/bgIMG.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;

  .copyright {
    display: none;
  }
}

.app__home {
  @include dynamic_flex(flex, column, center, center);
  // flex: 1;
  width: 100%;
  height: 100%;

  padding: 4rem 2rem 0rem;

  @include sm_min {
    padding-top: 6rem;
  }

  @include lg_min {
    padding-top: 10rem;
  }

  .app__home-info {
    @include d_flex(flex, center, center);
    height: 100%;

    .app__home-badge {
      @include dynamic_flex(flex, column, flex-start, flex-start);

      .badge-cmp {
        h1 {
          padding: 0.5rem;
          color: var(--secondary-color);
          font-size: 2.5rem;
          color: transparent;
          -webkit-text-stroke: 0.1rem var(--secondary-color);
          opacity: 0.9;
          position: relative;
          cursor: pointer;

          &::before {
            content: attr(data-text);
            position: absolute;
            color: var(--secondary-color);
            width: 0;
            overflow: hidden;
            transition: 1s;
            border-right: 3px solid var(--secondary-color);
            -webkit-text-stroke: 1px solid var(--secondary-color);
          }
          &:hover::before {
            width: 100%;
            filter: drop-shadow(0 0 20px var(--secondary-color));
          }
        }

        h4 {
          font-size: 2rem;
        }

        span {
          font-size: 2.5rem;
        }
      }

      .badge-cmp,
      .tag-cmp {
        background: var(--white-color);
        padding: 2rem 3rem;
        border-radius: 1.5rem;
        box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
      }

      .tag-cmp {
        margin-top: 3rem;
        width: 30rem;

        p {
          font-size: 2rem;
          color: var(--black-color);
          font-weight: 600;
          margin-bottom: 0.7rem;
        }
        span {
          font-size: 2rem;
          color: var(--secondary-color);
          font-weight: 600;
          line-height: 2.5rem;
        }
      }

      @include sm_min {
        .badge-cmp {
          margin-right: 18rem;
        }
        .tag-cmp {
          margin-left: 18rem;
        }
      }

      @include sm_max(360px) {
        .badge-cmp {
          h1 {
            font-size: 1.5rem;
          }

          h4 {
            font-size: 1rem;
          }
          span {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

.app__home-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0;

    div {
      margin: 1rem;
    }
  }
}

.app__home-img {
  height: 100%;

  @include d_flex(flex, center, center);
  position: relative;

  img {
    @include imgResponsive(100%, auto, contain) {
      z-index: 1;
    }
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 90%;
  }

  @media screen and (max-width: 1200px) {
    margin: 2rem 0;
  }
}
