@import "../../assets/mixins/MediaQueries.scss";
@import "../../assets/mixins/Layouts.scss";

.app__navbar {
  width: 100%;
  @include dynamic_flex(flex, row, space-between, center);

  position: fixed;
  padding: 1rem 2rem;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 -0.3rem 0.5rem 0.3rem var(--black-color);
  z-index: 10;

  // LOGO Container
  .app__navbar-logo {
    @include dynamic_flex(flex, row, flex-start, center);

    img {
      width: 5rem;
      height: 5rem;

      @include sm_min {
        width: 8rem;
        height: 8rem;
      }
      @include lg_min {
        width: 10rem;
        height: 10rem;
      }
    }
  }

  // NavLinks Container
  .app__navbar-links {
    flex: 1;
    list-style: none;
    @include d_flex(flex, center, center);

    li {
      margin: 0 1rem;
      cursor: pointer;

      a {
        color: var(--white-color);
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2rem;
        transition: all 0.4s ease-in-out;

        &:hover {
          border-bottom: 0.1rem solid var(--gray-color);
        }

        @include md_min {
          font-size: 2.2rem;
        }
        @include lg_min {
          font-size: 2.6rem;
        }
        @include xl_min {
          font-size: 3rem;
        }
      }

      &:hover {
        div {
          background: var(--secondary-color);
        }
      }
    }

    @include sm_max {
      display: none;
    }
  }

  // Toogle NAV-MENU
  .app__navbar-menu {
    width: 3.5rem;
    height: 3.5rem;
    @include d_flex(flex, center, center);

    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin-right: 3.5rem;

    background-color: var(--secondary-color);

    @include sm_min {
      width: 4.5rem;
      height: 4.5rem;
    }

    @include lg_min {
      width: 5.5rem;
      height: 5.5rem;
    }

    @include xl_min {
      width: 6.5rem;
      height: 6.5rem;
    }

    svg {
      width: 70%;
      height: 70%;
      color: var(--white-color);
    }

    div {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 5;

      padding: 2.5rem;

      width: 60%;
      height: 100vh;

      @include sm_min {
        width: 40%;
      }

      @include dynamic_flex(flex, column, center, flex-end);

      background: url("../../assets/bgWhite.png");
      background-color: var(--white-color);
      background-size: cover;
      background-repeat: repeat;

      svg {
        width: 35px;
        height: 35px;
        color: var(--secondary-color);
        margin: 2rem 2rem;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        border: 0.01rem solid var(--secondary-color);

        &:hover {
          background-color: var(--secondary-color);
          color: var(--white-color);
        }
      }

      ul {
        list-style: none;
        height: 100%;
        width: 100%;

        @include dynamic_flex(flex, column, flex-start, flex-start);

        li {
          margin: 1rem;

          a {
            color: var(--black-color);
            text-decoration: none;
            font-size: 1.6rem;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.2rem;

            transition: all 0.4s ease-in-out;

            &:hover {
              border-bottom: 0.1rem solid var(--gray-color);
            }

            @include sm_min {
              font-size: 2.2rem;
            }

            @include md_min {
              font-size: 2.6rem;
            }

            @include lg_min {
              font-size: 3rem;
            }
          }
        }
      }
    }
  }
}
